@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#flexContainer{

    border: 5px solid rgb(238, 238, 238);
    border-radius: 12px;
    width: 400px;
    height: auto;
    margin: 20px;
    transition: 0.5s;

}

#flexContainer:hover{
    transform: scale(105%);
    
}

#itemTittle{
    color:black;
    font-size: 40px;
}
#itemDescription{
    font-size: 20px;
    color: rgb(59, 59, 59);
}

#itemPrice{
    color: rgb(106, 185, 119);
}

.itemTexto{
    font-family: 'Open Sans', sans-serif;
}

#itemPicture{
    margin-top: 10px;
}

#ItemCartButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

