@import "../ItemCount/ItemCount.css";

#itemDetailPicture{
    grid-area: itemDetailPicture;
}
#itemDetailTittle{
    display: flex;
    justify-self: center;
    font-size: 50px;
    grid-area: itemDetailTittle;
}
#itemDetailDescription{
    grid-area: itemDetailDescription;
    font-weight: lighter;
}
#itemDetailPrice{
    grid-area: itemDetailPrice;
}
#itemDetailBtnComprar{
    grid-area: itemDetailBtnComprar;
    display: flex;
    justify-self: center;
}
#ItemCountContainer{
    grid-area: ItemCount;
    background-color:rgb(218, 218, 218);
}






#itemDetailGrid{
    display: grid;
    grid-template-columns:60px auto auto 60px;
    grid-template-rows: auto auto auto 50px auto auto;
    grid-template-areas: 
    ". itemDetailTittle itemDetailTittle ."
    ". itemDetailPicture itemDetailDescription ."
    ". itemDetailPicture itemDetailPrice ."
    ". . . ."
    ". itemDetailBtnComprar itemDetailBtnComprar ."
    "ItemCount ItemCount ItemCount ItemCount";
    justify-items: center;
    align-items: center;
    border: 5px solid rgb(238, 238, 238);
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 1vw;

}

#itemDetailFlex{
    display: flex;
    justify-content: center;
    align-items: center;

}

